@{
    ViewBag.Title = "Home Page";
}


<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>La mejor Solucion Para su Empresa</h1>
                <h2>Somos un equipo  especializados para dar una solucion efectiva a su negocio</h2>
                <div class="d-lg-flex">
                    <a href="https://www.youtube.com/watch?v=ZccuSnxL81E" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/Content/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<main id="main">
    <!-- ======= Seccion Sobre nosotros ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Sobre Nosotros</h2>
                <p>
                    Contamos con certificación ISO Trinorma
                </p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Somos un socio estratégico en la transformación del trabajo en la era digital;
                        con una oferta de valor que entrega las mejores soluciones tecnológicas para
                        generar mayor eficiencia y productividad a los procesos de negocio intensivos en documentos.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Venta de Equipos de oficina y producción</li>
                        <li><i class="ri-check-double-line"></i> Soluciones y nuevos negocios</li>
                        <li><i class="ri-check-double-line"></i> Sustentabilidad</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Contamos con una oferta multi-tecnología, equipo de profesionales altamente calificados. Experiencia
                        y conocimiento en la industria. La sostenibilidad y transparencia son parte de nuestro negocio.
                    </p>
                    @*<a href="#" class="btn-learn-more">Learn More</a>*@
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content">
                        <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        </p>
                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                                    <p>
                                        Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                                    <p>
                                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                                    <p>
                                        Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../../Content/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Seccion Servicios ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Nuestros Servicios</h2>
                <p>Contamos con productos y servicios los cuales ayudaran a tu empresa a aumentar la productividad que necesitas con distintas soluciones técnologicas que son de gran interes.</p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Gestión documental</a></h4>
                        <p>A través de la utilización de softwares de gestión documental y automatización de flujo de trabajo, transforme su negocio digitalizando su información y optimizando los procesos que impulsan el núcleo principal de su negocio.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Robotic Process Automation (RPA)</a></h4>
                        <p>RPA es una solución tecnológica que opera mediante Robots que ejecutan tareas y funciones repetitivas, a través de interfaces de usuarios existentes, interactuando con todas las aplicaciones empresariales, como lo hace actualmente un proceso manual.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Digitalización</a></h4>
                        <p>El Servicio de Digitalización de Documentos (BPO), se basa en la Digitalización e Indexación de documentos físicos, con personal calificado de Dimacofi utilizando las mejores herramientas existentes en el mercado de digitalización, captura y gestión documental,</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4><a href="">Equipos de oficina</a></h4>
                        <p>Revisa el modelo tradicional respecto a la impresión de documentos y gestión de documentos, si tu empresa aun no está 100% migrada a las soluciones técnologicas ingresa acá.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3>Call To Action</h3>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                53
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Nuestro Equipo</h2>
                <p>
                    Pritinel fue fundada por 2 amigos los cuales llevaron su amistad y conocimiento a desarrollar
                    distintas soluciones que permitan estar aportar directamente
                    en la productividad y eficiencia de las grandes empresas. Ademas llevaron a sus parejas a ser parte de esta gran empresa
                </p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="~/Content/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Ariel Zavala</h4>
                            <span>Gerente General Pritinel</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="~/Content/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Scott Urrea</h4>
                            <span>Gerente de Informatica Pritinel</span>
                            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contacto</h2>
                <p>Todos sus comentarios, sugerencias y opiniones son importantes para nosotros y nos ayudan a dar un mejor servicio. Pritinel le agradece sinceramente que se tome el tiempo para enviarnos sus consideraciones.</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Ubicación:</h4>
                            <p>El Chamanto 10937, La Florida</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>contacto@pritinel.cl</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Call:</h4>
                            <p>+ 56 2 2282185 - + 56 9 94703235</p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.696260450924!2d-70.60852048508781!3d-33.56126721059368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d0b10cc7ab17%3A0xbbe4a418816f1b3c!2sEl%20Chamanto%2010937%2C%20La%20Florida%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1591235515748!5m2!1ses!2scl" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Nombre</label>
                                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Correo</label>
                                <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Asunto</label>
                            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="name">Mensaje</label>
                            <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>
                       Pritinel
                    </h3>
                    <p>
                        Venta de paginas web. <br>
                        Servicios técnologicos.<br>
                        Venta de Maquinaria de oficina <br><br>
                        <strong>Phone:</strong>
                        + 562 2282185 <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        + 569 4703235<br>
                        <strong>Email:</strong> contacto@pritinel.cl<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Partner técnologicos</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www8.hp.com/cl/es/home.html">HP</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.ricoh.com/">RICOH</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.uipath.com/es/">UIPATH</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.makerbot.com/">MAKERBOT</a></li>
                    </ul>
                </div>
              
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Otros de interes</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://sustentable.uc.cl/">Sustentabilidad</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://rechile.mma.gob.cl/">Chile recicla</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.normas-iso.com/">Normas ISO</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestras redes Sociales</h4>
                   @* <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>*@
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Pritinel</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
            Diseñado por Pritinel <a href="#">Grupo Pritinel</a>
        </div>
    </div>
</footer><!-- End Footer -->
